@import 'tailwindcss';

body {
  background-color: #151515;
}

#map {
  overflow: auto;
  height: 100%;
}
#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 85%;
}

video {
  object-fit: cover;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}


.container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main-image main-image thumb0 thumb1"
    "main-image main-image thumb2 thumb3";
}

.main-image { grid-area: main-image; width:500px; height:500px; position: relative; }

.thumb0 { grid-area: thumb0; width:250px; height:250px; }

.thumb1 { grid-area: thumb1; width:250px; height:250px; }

.thumb2 { grid-area: thumb2; width:250px; height:250px; }

.thumb3 { grid-area: thumb3; width:250px; height:250px; }

@media screen and (max-width: 1100px) {
  .container {
    width: 500px;
    grid-template-areas:
    "main-image main-image"
    "main-image main-image"
    "thumb0 thumb1"
    "thumb2 thumb3";
  }

  .main-text {
    font-size: 11px;
    line-height: 13px;
  }

  .main-image {
    width: 500px;
    height: 500px;
  }

  .thumb {
    width: 250px;
    height: 250px;
  }
}


@media screen and (max-width: 640px) {
  .container {
    width: 300px;
    grid-template-areas:
    "main-image main-image"
    "main-image main-image"
    "thumb0 thumb1"
    "thumb2 thumb3";
  }

  .main-text {
    font-size: 11px;
    line-height: 13px;
  }

  .main-image {
    width: 300px;
    height: 300px;
  }

  .thumb {
    width: 150px;
    height: 150px;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


